<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{@pilot.first_name} #{@pilot.last_name}" %> has created a new flight mission</h1>
    <p>
      Mission Date: <%= @session.date %> <br>
      Pilot: <%= "#{@pilot.first_name} #{@pilot.last_name}" %> <br>
      Observer: <%= @session.observer %> <br>
      Locations: <%= @session.location %> <br>
      Client: <%= @session.client %> <br>
      Platform: <%= @platform.name %> <br>
      Payload: <%= @session.payload %> <br>
      Task: <%= @session.task %> <br>
    </p>
  </body>
</html>