<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A flight mission has been created by, <%= "#{@pilot.first_name} #{@pilot.last_name}" %></h1>
    <p>
      Mission Date: <%= @session.date %>
      Locations: <%= @session.location %>
      Client: <%= @session.client %>
      Platform: <%= @session.platform.name %>
      Payload: <%= @session.platform %>
      Task: <%= @session.task %>
    </p>
  </body>
</html>