<%= form_for(@session) do |f|%>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hide">
    <%= f.text_field :latitude %>
    <%= f.text_field :longitude%>
  </div>

  <div id="col1">
    <button type="button" class="btn btn-danger space" data-toggle="collapse" data-target="#demo">
      Locate using address
    </button>
    <div id="demo" class="collapse">
      <%= f.text_field :address, class: "input-xxlarge", placeholder: "Type in address here including suburb" %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :client %>
      <%= f.text_field :client %>
    </div>
    <div class="field">
      <%= f.label "Suburb" %>
      <%= f.text_field :location %>
    </div>

    <div class="field">
      <%= f.label "Flight Platform" %>
      <%= f.collection_select(:flight_platform_id, current_user.company.flight_platforms, :id, :name, :prompt => 'Select Flight Platform', :selected => @session.flight_platform_id) %>
    </div>

    <div class="field">
      <%= f.label :weather %>
      <%= f.select(:weather, [['Hi-Vis','Hi-Vis'],['Med-Vis','Med-Vis'],['Low-Vis','Low-Vis'],['Dark','Dark']]) %>
    </div>
    <div class="field">
      <%= f.label :remote_pilot_id %>
      <% pilots = current_user.company.pilots.find(:all, :conditions => {:uav_certified => true}) %>
      <%= f.collection_select(:remote_pilot_id, current_user.company.pilots, :id, :last_name, :prompt => 'Select Remote Pilot', :selected => @session.remote_pilot_id) %>
    </div>
    <div class="field">
      <%= f.label :chief_pilot_id %>
      <%= f.collection_select(:chief_pilot_id, pilots, :id, :last_name, :prompt => 'Select Chief Pilot', :selected => @session.chief_pilot_id) %>
    </div>
    <div class="field">
      <%= f.label :observer %>
      <%= f.text_field :observer %>
    </div>

    <div class="field">
      <%= f.label :payload %>
      <%= f.select(:payload, ['Sony Nex7', 'GoPro Hero 3', 'Hi Res Camera', 'Panasonic GH4']) %>
    </div>
    <div class="field">
      <%= f.label "Base Station Type" %>
      <%= f.select(:gcs_deployment, [['Static','Static'],['Mobile','Mobile']]) %>
    </div>
    <div class="field">
      <%= f.label "Base Station Control" %>
      <%= f.select(:gcs_control, [["Handheld Transmitter"], ["PC"], ["iPad"], ["Tablet"]]) %>
    </div>

    <div class="field">
      <%= f.label "JSA Completion Time" %>
      <%= f.time_select :jsa_time, default: (Time.now) %>
    </div>
    <div class="field">
      <%= f.label :pre_flight_time %>
      <%= f.time_select :pre_flight_time, default: (Time.now) %>
    </div>
    <div class="field">
      <%= f.label :mission_briefing_time %>
      <%= f.time_select :mission_briefing_time, default: (Time.now) %>
    </div>

    <div class="field">
      <%= f.label :task %>
      <%= f.text_area :task, :rows => '5', :style => "width:500px;" %>
    </div>
  </div>

  <div class="sessionsubmit">
    <% if @session.new_record? %>
      <div class="field">
        <%= f.check_box :send_email, {checked: true} %> &nbsp Notify Chief Pilot  
      </div>
      <%= f.submit "Create Mission" %>
    <% else %>
      <%= f.submit "Update Mission" %>
    <% end %>
  </div>
<% end %>
