<% provide(:smalltitle, "#{@session.date.strftime("%A, %e %B, %Y")} @ #{@session.location} for #{@session.client}")%>

<div class="warnings">
  <% if @healthfile == "fail" %>
    Remote pilot is not fit for flying
  <% elsif @healthfile == "missing" %>
    Remote pilot needs to complete a Fit for Work form
  <%end%>
</div>

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <td width="80"><img src="/assets/stafficon.png"/></td>
      <td><b>Chief Pilot</b></br><%= @chief_pilot.first_name + " " + @chief_pilot.last_name %></td>
      <td><b>Remote Pilot</b></br><%= @remote_pilot.first_name + " " + @remote_pilot.last_name %></td>
      <td><b>Observer</b></br><%= @session.observer %></td>
    </tr>
    <tr>
      <td><img src="/assets/timeicon.png"/></td>
      <td><b>JSA</b></br><%= @session.jsa_time.strftime("%l:%M %p") %></td>
      <td><b>Pre-flight</b></br><%= @session.pre_flight_time.strftime("%l:%M %p") %></td>
      <td><b>Mission Briefing</b></br><%= @session.mission_briefing_time.strftime("%l:%M %p") %></td>
    </tr>
    <tr>
      <td><img src="/assets/configicon.png"/></td>
      <td><b>Payload</b></br><%= @session.payload %></td>
      <td><b>GCS Deployment</b></br><%= @session.gcs_deployment %></td>
      <td><b>GCS Control</b></br><%= @session.gcs_control %></td>
    </tr>
    <tr>
      <td><img src="/assets/weathericon.png"/></td>
      <td><b>Visibility</b></br><%= @session.weather %></td>
      <td><b>Average Windspeed</b></br><%= @averagewind.round(1) %> knots</td>
      <td><b>Flight Platform</b></br><%= @flightplatform.name %></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td width="80"><img src="/assets/taskicon.png"/></td>
      <td><b>Task description</b></br><%= @session.task %></td>
    </tr>
  </tbody>
</table>

<div id="flighttable">
  <%= render partial: "flights/flighttable", locals: { flights: @session.flights.order("created_at ASC") } %>
</div>
<td><%= link_to 'New Flight', new_session_flight_path(@session.id), class: "btn btn-small btn-inverse" %>




    
  
