<% if flights.count > 0 %>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th colspan="7" class="tableheading">Flights</th>
		</tr>
	  <tr>
	    <th>Spin up time</th>
	    <th>Spin down time</th>
	    <th>Flight time</th>
	    <th>Flight battery</th>
	    <th>Battery start voltage</th>
	    <th width="130"></th>
	  </tr>
	</thead>
    <% flights.each do |flight| %>
      <tr>
		  <td><%= flight.spin_up_time.strftime("%k:%M ") %></td>
		  <td><%= flight.spin_down_time.strftime("%k:%M ") %></td>
		  <td><%= number_with_precision(flight.total_flight_time * 60, :precision => 0) %> minutes</td>
		  <td><%= battery = Battery.find(flight.battery_id).code %></td>
		  <td><%= flight.battery_start_reading %> Volts</td>
		  <td><%= link_to 'Edit', edit_session_flight_path(flight.session, flight), class: "btn btn-small btn-inverse" %>
		  		<%= link_to 'Destroy', [flight.session, flight], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: "btn btn-small btn-danger" %></td>
	  </tr>
	<% end %>
</table>
<% else %>
	<div class="warnings">No flights belong to this session</div>
<% end %>