%p#notice= notice

%p
  %b Name:
  = @flight_platform.name
%p
  %b Id:
  = @flight_platform.id

= link_to 'Edit', edit_flight_platform_path(@flight_platform)
\|
= link_to 'Back', flight_platforms_path
