<% provide(:title, "Batteries")%>

<%= content_for :nav do %>
  <%= link_to 'Main Menu', static_pages_home_path %>
  <%= link_to 'New Battery', new_battery_path %>
<% end %>

<h3>Battery List</h3>

<table class="table table-striped table-bordered">
  <tr>
    <th>Code</th>
    <th>New date</th>
    <th width="60"></th>
    <th width="60"></th>
    <th width="60"></th>
  </tr>

  <% @batteries.each do |battery| %>
    <tr>
      <td><%= battery.code %></td>
      <td><%= battery.new_date %></td>
      <td><%= link_to 'Show', battery, class: "btn btn-small btn-inverse" %></td>
      <td><%= link_to 'Edit', edit_battery_path(battery), class: "btn btn-small btn-inverse" %></td>
      <td><%= link_to 'Destroy', battery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger" %></td>
    </tr>
  <% end %>
</table>

